@import "tailwindcss";
:root {
  --background: #ffffff; /* 브랜드 컬러 변경*/
  --foreground: #171717; /* 브랜드 컬러 변경*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-kr);
  --font-mono: var(--font-roboto);
}
@theme {
  /* Background */
  --color-bg-default: #ffffff;
  --color-surface-1: #111111;
  --color-surface-2: #222222;
  --color-surface-3: #333333;
  --color-surface-4: #444444;

  /* Border */
  --color-border-subtle: #3a3a3a;
  --color-border-default: #4a4a4a;
  --color-border-emphasis: #5a5a5a;

  /* Text */
  --color-text-tertiary: #a0a0a0;
  --color-text-secondary: #c8c8c8;
  --color-text-primary: #eeeeee;
  --color-text-white: #ffffff;

  /* Main Color */
  --color-primary: #7678ed;
  --color-secondary: #3c3e78;
  --color-tertiary: #2a2b5f;
  --color-highlight: #fdb567;
  --color-error: #d81b60;

  /* Headline */
  --font-headline-large: 700 26px/35px "Noto Sans", sans-serif;
  --font-headline-medium: 600 24px/33px "Noto Sans", sans-serif;
  --font-headline-small: 700 20px/27px "Noto Sans", sans-serif;

  /* Title */
  --font-title-large: 500 20px/25px "Noto Sans", sans-serif;
  --font-title-medium: 600 18px/25px "Noto Sans", sans-serif;

  /* Body */
  --font-body-large: 600 16px/22px "Noto Sans", sans-serif;
  --font-body-medium: 700 16px/22px "Noto Sans", sans-serif;
  --font-body-small: 500 16px/22px "Noto Sans", sans-serif;

  /* Label */
  --font-label-large: 500 14px/19px "Noto Sans", sans-serif;
  --font-label-medium: 500 14px/19px "Noto Sans", sans-serif;
  --font-label-small: 400 14px/19px "Noto Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* 브랜드 컬러 변경*/
    --foreground: #ededed; /* 브랜드 컬러 변경*/
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Noto Sans KR, Roboto, Arial, Helvetica, sans-serif;
}
